.highlightedPiece {
    width: 80%;
    height: 80%;
    border-radius: 50%;
    background-color: transparent;
    border: 5px solid black;
    opacity: 0.4;
    box-sizing: border-box;
    padding: 0;

    @media screen and (max-width: 576px) {
        border-width: 4px;
    }
}
.highlightedPiece:hover {
    background-color: transparent;
    border-color: black;
    opacity: 1;
}